{% render 'partials/head.liquid', title: 'Vacatures' %}

{% render 'partials/header.liquid' %}

<aside>
    <a href="/vacatures">
        <img src="assets/arrow-left.svg" alt="arrow">
        terug naar home
    </a>
    <h1>Vacatures</h1>
    <dd>Verslim je carrière bij de beste digitale bureaus van Nederland. Pak je rol als developer of designer,
        researcher, als scrum master of marketeer, als strateeg. Start of groei door – en laat zien wat je kan.</dd>
</aside>

<form class="filter-button-container" method="get" action="/">
    <div class="inputbox">
        <label for="search">Zoek vacatures</label>
        <input type="text" id="search" name="search">
    </div>
    <div class="filter-btns">
        <div class="select-container">
            <select class="select-btn" name="provincie">
                <option value="">provincie</option>
                <option value="Noord-Holland">Noord-Holland</option>
                <option value="Zuid-Holland">Zuid-Holland</option>
                <option value="Groningen">Groningen</option>
                <option value="Friesland">Friesland</option>
                <option value="Drenthe">Drenthe</option>
                <option value="Overijssel">Overijssel</option>
                <option value="Flevoland">Flevoland</option>
                <option value="Gelderland">Gelderland</option>
                <option value="Utrecht">Utrecht</option>
                <option value="Limburg">Limburg</option>
                <option value="Noord-Brabant">Noord-Brabant</option>
                <option value="Zeeland">Zeeland</option>
            </select>
            <span><img src="assets/plus.svg"></span>
        </div>

        <div class="select-container">
            <select name="soort">
                <option value="">soort</option>
                <option value="vacature">vacature</option>
                <option value="stage">stage</option>
                <span><img src="assets/plus.svg"></span>
            </select>
            <span><img src="assets/plus.svg"></span>
        </div>

        <div class="select-container">
            <select name="hours">
                <option value="">uren</option>
                <option value="40">40</option>
                <option value="32">32</option>
                <option value="16">16</option>
                <option value="anders">anders</option>
                <span><img src="assets/plus.svg"></span>
            </select>
            <span><img src="assets/plus.svg"></span>
        </div>

        <div class="select-container">
            <select name="voertaal">
                <option value="">voertaal</option>
                <option value="nl">nl</option>
                <option value="eng">eng</option>
                <option value="eng-nl">eng & nl</option>
                <span><img src="assets/plus.svg"></span>
            </select>
            <span><img src="assets/plus.svg"></span>
        </div>

        <button type="submit">Submit</button>
    </div>
</form>

<main class="vacancies-container">
    <ul class="vacancies">
        {% for agency in vacatures %}
        {% for vacature in agency.vacancies %}
        <li>
            <h4>{{ vacature.title }}</h4>
            <div>
                <span>ENG & NL</span>
                <span class="agency-title">{{ agency.title|title }}</span>
                <span>{{ vacature.hours }} uur</span>
                <span>{{ vacature.locatie }}</span>
            </div>
            <a href="vacature/{{ vacature.id }}">bekijken <img src="assets/blue-arrow-up.svg"></a>
        </li>
        {% endfor %}
        {% else %}
        <p class="empty-state">Er zijn op dit moment geen vacatures beschikbaar...</p>
        {% endfor %}
    </ul>
    <a class="add-vacancie" href="/toevoegen">vacature toevoegen
        <img src="assets/plus.svg" alt="addicon">
    </a>
    {% if succes_message %}
    <div class="succes-box">
        <h6>Succes!</h6>
        <p class="succes-message">{{ succes_message }}</p>
    </div>
    {% endif %}
</main>



{% render 'partials/footer.liquid' %}